.fighter-preview___root {
  display: flex;
  flex-direction: column;
  flex-basis: 250px;
}

.fighter-preview___right {
  align-items: flex-end;
}

.fighter-preview___left {
  align-items: flex-start;
}

.fighter-preview___name {
  color: rgb(248, 233, 233);
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 10px;
  margin-top: 10px;
}

.fighter-preview___stat {
  color: rgb(248, 233, 233);
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 5px;
}

.fighter-preview___img {
  width: 100%;
  height: 450px;
}
